@import "../extensive/styles.css";

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-themed {
	--luthor-bg: var(--luthor-themed-bg, var(--luthor-bg));
	--luthor-fg: var(--luthor-themed-fg, var(--luthor-fg));
	--luthor-border: var(--luthor-themed-border, var(--luthor-border));
	--luthor-border-hover: var(--luthor-themed-border-hover, var(--luthor-border-hover));
	--luthor-border-active: var(--luthor-themed-border-active, var(--luthor-border-active));
	--luthor-accent: var(--luthor-themed-accent, var(--luthor-accent));
	--luthor-accent-hover: var(--luthor-themed-accent-hover, var(--luthor-accent-hover));
	--luthor-muted: var(--luthor-themed-muted, var(--luthor-muted));
	--luthor-muted-fg: var(--luthor-themed-muted-fg, var(--luthor-muted-fg));
	--luthor-shadow: var(--luthor-themed-shadow, var(--luthor-shadow));
}
