@import "../extensive/styles.css";

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-chat {
	min-height: 300px;
	border-radius: 18px;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-chat .luthor-toolbar {
	padding: 6px;
	min-height: 44px;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-chat .luthor-content-editable {
	font-size: 0.95rem;
	line-height: 1.55;
}
