@import "../extensive/styles.css";

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-html-visual {
	min-height: 460px;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-html-visual .luthor-source-view {
	font-family: "JetBrains Mono", "Fira Code", Consolas, "Courier New", monospace;
	font-size: 0.88rem;
	line-height: 1.5;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-html-visual .luthor-mode-tab {
	min-width: 88px;
}
