.luthor-preset-rich-text-box .luthor-editor {
  min-height: 220px;
}

.luthor-preset-rich-text-box--compact .luthor-toolbar,
.luthor-preset-rich-text-box__toolbar--compact {
  padding: 4px;
  gap: 2px;
}

.luthor-preset-rich-text-box__toolbar--compact .luthor-toolbar-button {
  width: 30px;
  height: 30px;
}
