@import "../extensive/styles.css";

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-notion {
	border-radius: 0;
	border-left: none;
	border-right: none;
	max-width: 860px;
	margin-inline: auto;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-notion .luthor-content-editable {
	padding-left: 56px;
	padding-right: 56px;
	line-height: 1.7;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-notion .luthor-toolbar {
	padding-inline: 12px;
}
