@import "../extensive/styles.css";

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-email {
	min-height: 460px;
	max-width: 960px;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-email .luthor-content-editable {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.65;
}

.luthor-preset-extensive.luthor-editor-wrapper.luthor-preset-email .luthor-source-view {
	font-size: 0.9rem;
}
